<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fieldMap   type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <patch:attribute name="type" value="Sitecore.Support.ContentSearch.FieldMap, Sitecore.Support.108410"/>
          </fieldMap>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
